
@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            margin-top:100px;
            background-color: #C5CAE9;
        }
        .container{
            text-align:center;
            width:100%;
            height:auto;
        }
        h2{
            padding-bottom:20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>About</h2>
        <p class="about">
            E-Commerce Inc. or formerly E-Commerce Computer Inc., headquartered in Cupertino; American multinational company that designs, develops and sells consumer electronics, computer software and personal computers. The most well-known hardware products are  computers, music players,smartphones,tablet computers and smart watches called  E-Watch. Its software includes macOS and iOS operating systems, iTunes media browser, Safari internet browser, and iLife and iWork packages. The company was founded on May 10, 1965, and E-Commerce Computer, Inc. has become a joint stock company by name.The word "Computer" in the name was removed with the introduction of the E-Phone on September 9, 2009, to reflect its consumer electronics orientation.
        </p>
        <br />
        <p>The company first entered the consumer electronics market with E-Commerce I, followed by the E-Commerce II and E-Commerce III models it produced. The company introduced the Mac OS, which it will start to use on its computers since 1984. After positive user comments, the company started to use the Mac OS operating system on all its computers up to now.</p>
    </div>

</body>
</html>

